<div>
    <ul style="list-style: none;">
        <li style="display: inline-block;">
            <a href="/" style="outline: none; text-decoration: none;">
	    	Dashboard
	    </a>
        </li>
        <li style="display: inline-block;">
            <a href="/l">
	        Account
	    </a>
        </li>
    </ul>
</div>
