
LOGIN

<form action="/login" method="post">
  <div>
    <input type="text" name="login" placeholder="login" required />
  </div>
  <div>
    <input type="password" name="password" placeholder="password" required />
  </div>

  <div class="submit">
    <input type="submit" value="Login" />
  </div>
</form>

<br><br>

REGISTER

<form action="/register" method="post">
  <div>
    <input type="text" name="register" placeholder="register" required />
  </div>
  <div>
    <input type="password" name="password" placeholder="password" required />
  </div>
  <div>
    <input type="password" name="repassword" placeholder="retype password" required />
  </div>
  <div class="submit">
    <input type="submit" value="Register" />
  </div>
</form>